*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
    color: white;
}
.container {
width: 750px;
margin: auto;
margin-top: 0px;
margin-bottom: 0px;
border-radius: 0px;
overflow: auto;
}

.header {
    width: 500px;
    height: 250px;
    background-color: pink;
    float: left;
    
}
.header2 {
    width: 250px;
    height: 250px;
    float: right;
    background-color: mediumturquoise;
  
}
.header3 {
    width: 250px;
    height: 125px;
    float: right;
    background-color: tomato;
  
}
.header4 {
    width: 250px;
    height: 125px;
    float: right;
    background-color: goldenrod;
  
}
h1 {
    text-align: center; 
    line-height: 4;
}
.nav {
background-color: greenyellow;
width: 750px;
height: 50px;
float: left;
}
h2 {

text-align: center;

color: black;}
.main {
    width: 750px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    overflow: auto;
}

.section {
width: 125px;
height: 400px;
background-color: blueviolet;
float: left;
color: black;
}

.section2 {
    width: 500px;
    height: 400px;
    background-color: lightblue;
    float: left;
    color: black;
}
.section3 {
    width: 125px;
    height: 400px;
    background-color: lightcoral;
    float: right;
    color: black;
}
h2 {
    text-align: center; 
    line-height: 8;
    color: white;
}
.footer {
height: 50px;
background-color: khaki;
clear: both;
text-align: center;
height: 50;
line-height: 50px;
}